BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION

USE [GRASP]

GO
ALTER TABLE dbo.ResponseValue ADD
	dvalue datetime NULL
GO
ALTER TABLE dbo.ResponseValue SET (LOCK_ESCALATION = TABLE)
GO
COMMIT